<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cenec.darash.mealvity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cenec.mealvity.mealvity.activities.PaymentActivity"></activity>
        <activity android:name="cenec.mealvity.mealvity.activities.InfoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSbqgaeP6AA_XBb7VGazxKhepTOR6IQ68" />

        <activity android:name="cenec.mealvity.mealvity.activities.RestaurantMoreInfoActivity" />
        <activity android:name="cenec.mealvity.mealvity.activities.AutocompleteStreetActivity" />
        <activity android:name="cenec.mealvity.mealvity.activities.ShowRestaurantListingActivity" />
        <activity android:name="cenec.mealvity.mealvity.activities.SaveAddressActivity" />
        <activity
            android:name="cenec.mealvity.mealvity.activities.HelpActivity"
            android:parentActivityName="cenec.mealvity.mealvity.activities.FragmentContainerActivity" />
        <activity
            android:name="cenec.mealvity.mealvity.activities.NotificationsActivity"
            android:parentActivityName="cenec.mealvity.mealvity.activities.FragmentContainerActivity" />
        <activity
            android:name="cenec.mealvity.mealvity.activities.UserAddressesActivity"
            android:parentActivityName="cenec.mealvity.mealvity.activities.FragmentContainerActivity" />
        <activity
            android:name="cenec.mealvity.mealvity.activities.ChangePasswordActivity"
            android:parentActivityName="cenec.mealvity.mealvity.activities.FragmentContainerActivity" />
        <activity
            android:name="cenec.mealvity.mealvity.activities.EditProfileActivity"
            android:parentActivityName="cenec.mealvity.mealvity.activities.FragmentContainerActivity" />
        <activity android:name="cenec.mealvity.mealvity.activities.FragmentContainerActivity" />
        <activity android:name="cenec.mealvity.mealvity.activities.LoadingActivity" />
        <activity android:name="cenec.mealvity.mealvity.activities.ResetPasswordActivity" />
        <activity android:name="cenec.mealvity.mealvity.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cenec.mealvity.mealvity.activities.SignUpActivity" />
        <activity android:name="cenec.mealvity.mealvity.activities.SignInActivity" />
        <activity android:name="cenec.mealvity.mealvity.activities.MainActivity" />
    </application>

</manifest>